
#cabecera{
    background-color:#aca6a6;
    width:auto;
    height: 20px;
    border:solid 5px;
    padding-bottom: 60px;
}

img{
    width: 85vh;
    height: 210px; 
    filter:grayscale() ;
    border:6px outset rgb(43, 43, 41);
    padding: 5px;
}
main {
    border: solid 5px;color: gray;
    margin:auto;
    width: 500px;
    background-color:rgb(71, 74, 75);
    padding:10px;
}
  h2{
     color: black;
     text-align: center;
     text-size-adjust:unset;
  }
    
body
{
   margin: auto;    
}
p{
    text-align: center;

}

