
        p {
            color: blue;           
          }

          /*  SINTAXIS CSS
             SELECTOR {
              propiedad :valor
             }
          */
         h1 {
              color: rgb(26, 194, 54);  
         }    font-size:100px;
    
         body {
            background-color:rgb(122, 83, 54);
    text-align: start;
         }
         header {
             background-color: aliceblue;
             text-align: center;
                
         }
      .hola-mundo{
          background-color: green;
          font-size: 50px;
      }
   
      #lugar{
          color:rgb(70, 39, 39);
          font-weight: bold;
          font-size: 150px;
      }

