
 #nombre{
    color:rgb(206, 180, 180);
    font-weight: bold;
    font-size: 40px;
    text-align:center;
}

#centrame{
      text-align: center;
}

#imagen {
     border:blanchedalmond;
     align-content: center;
     text-align: center ;

} 
img {
    text-align: center;
    border-radius: 20%;
}
img:hover 
{
   text-align: start;
    height: 40px;
}

.quien-soy {
    text-align:center;
     color:teal;
     background-color: rgb(208, 240, 135);
      
}
h2 {
    color:rgb(21, 128, 0);
}

.textos {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  .titulos {
    color: white;
    font-weight: bolder;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  #titulo-principal {
    font-size: 40px;
    font-weight: bold;
  }

.habilidades{
    background-color: rgb(208, 240, 135);
    text-align: center;

  
}
#foot
    {
      background-color: rgb(215, 213, 218);
    }
 body
   { background-image: url(https://i.pinimg.com/originals/26/c6/31/26c6317b4347fa9f8ec7d012990f648f.jpg);

 }
.input-estilos {
    background-color:antiquewhite;
    caret-color: green;
    color: brown;
}

form > label +input
 {
   font-size: 100px;
   background-color: blueviolet;
 }